/* import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300&display=swap');

body {
    background-color: #F9FAFC;
    font-family: Open Sans, sans-serif; 
}

h1 {
    font-size: 4rem;
}

/* Articles images styling */

.card {
    border: none;
    background-color: transparent;
}

.card-title-form {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.card-text p {
    text-align: justify;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
    background-color: #FF5733;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Home page styling */

#logo {
    width: 151px;
    height: 41px;
}

.hero-image {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.hero-image-form {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

/* Article detail page styling */

.masthead {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.jumbotron {
    min-height: 60vh;
    background-color: rgba(0,0,0,.4);
}

.display-4 {
    margin-left: 5%; 
}

.lead {
    margin-left: 5%; 
}

/* Article excerpt styling */

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #900C3F ;
}

.post-title {
    margin-top: 5%;
    margin-left: 5%;
}

.post-subtitle {
    margin-top: 5%;
    margin-left: 5%;  
}

.link {
    color: #FAD02C;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #E84610;
    text-decoration: underline;
}

/* profile page */

.user {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}


/* gallery page */

.carousel-border {
    border: 2px solid #b87333 !important;
    padding: 5px;
    box-shadow: 6px 4px 8px -2px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
}


/* button styling */

.btn-like {
    color: #FFA92C;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.trip-form {
    width: 75%;
    margin: auto;
}

.btn-outline-light {
    color: var(--gray-color);
    border-color: var(--gray-color);
}


/* media queries */

/* for small screens up to 768px */

@media (max-width:768px) {
    .hero-image {
        min-height: 30vh;
    }

    .hero-image-form {
        min-height: 78vh;
    }

    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }

    .jumbotron {
        min-height: 30vh;
    }
}

/* for small screens up to 375px */

@media screen and (max-width:375px) {


.clearablefileinput {
  font-size:10px
  }

}



