{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}{% trans "Delete your trip" %}{% endblock %}
{% block content %}

<div class="hero-image-form" style="background-image: url('{% static "images/notepad.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Delete your trip" %}</h3>
            <p>{% trans 'Are you sure you want to delete it?' %}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'home' %}">No, take me back!</a>
                    <br><br>
                    <button class="btn btn-warning">Yes, delete post!</button>

                </form>
        </div>
    </div>
</div>

{% endblock %}