{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="hero-image" style="background-image: url('{% static "images/notepad.jpg" %}')">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <h1>Welcome to TravelDream</h1>
    </div>
</div>

<section>
    <h3 class="text-center mt-3">Share your travel experiences!</h3>

    <div class="text-center m-5">
        <h5>
        <p>The best part of traveling is sharing your experiences with others. TravelDream has been created with this purpose in mind.</p>
        <p>Are you looking for an idea for your next getaway? You can simply view someone’s post to get inspired for your next adventure. You can also share your experiences.
            and communicate with other registered users by leaving a comment or giving them your Likes.
            Ready to start? Let's go!
        </p>
        </h5>
    </div>

</section>
            

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/luke07/image/upload/v1668299060/sd4avtbmcy5xz5ffdlic.jpg" alt="Image of mountains">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-star"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}